@import "../general/rule.scss";

.body {
  background-image: url("../../images/bg-login.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.container-main {
  main {
    background: rgba(255, 255, 255, 0.18);
    border-radius: 50px;

    input {
      background: rgba(255, 252, 252, 0.12) !important;
      color: #fff !important;

      &::placeholder {
        color: rgb(156, 154, 154) !important;
      }

      &:focus {
        background-color: rgba(0, 0, 0, 0.1) !important;
      }
    }

    button {
      border: 1px solid white !important;
      color: #fff !important;
      padding: 8px 40px;
      border-radius: 38px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container-main {
    main {
      width: 80% !important;
    }
  }
}

@media screen and (max-width: 576px) {
  .container-main {
    main {
      width: 100% !important;
    }
  }
}

.nav-gradient {
  background-color: #161175;
}

@media only screen and (max-width: 992px) {
  .navbar-2 {
    margin-top: 28px;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-toggler {
    padding: 0;
  }
}

.sosial-media {
  background-color: #abe9d2;
  width: 68px;
  height: 68px;
  display: block;
  position: relative;

  i {
    color: $biru-dark;
    font-size: 24px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

// footer
footer {
  background-color: $ungu;

  p {
    @include body-2;
  }

  .h1 {
    background: linear-gradient(to right, #ff628f 0%, #7a75d9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .sosial-media,
  .ke-atas {
    background: linear-gradient(180deg, #fff 25%, #ffe9e9 75%);
  }

  .sosial-media i {
    background: linear-gradient(to top, #533ba9, #9b53a6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
