@import "../../general/rule";

body {
  // background: url("../../../images/dashboard/background.svg");
  background: url("../../../images/dashboard/background-2.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

#float_1 {
  right: 0;
  top: 30%;
  z-index: -1;
}

#float_2 {
  right: 10%;
  top: 40%;
  z-index: -1;
}

.sidebar {
  background: rgba(255, 255, 255, 0.38);
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.3);

  // for mobile
  button {
    font-size: 25px;
  }

  button:focus {
    outline: none !important;
  }

  h1 {
    font-family: "Asap", sans-serif;
    padding: 20px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      cursor: pointer;

      a {
        color: #fff;
        text-decoration: none;
        font-family: "Asap", sans-serif;
        font-weight: 600;
        display: block;
        padding: 20px;

        img {
          width: 20px;
          height: 18px;
        }
      }
    }

    li.active,
    li:hover {
      background-color: rgb(223, 223, 223);

      a {
        color: #000;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .sidebar {
    display: none;
  }

  .sidebar.responsive {
    display: block;
    position: fixed;
    z-index: 2;
    background-color: $ungu;
  }
}

.content {
  overflow: auto;

  nav {
    background: rgba(255, 255, 255, 0.14);

    button {
      font-size: 25px;
    }

    button:focus {
      outline: none !important;
    }

    h2 {
      font-family: "Asap", sans-serif;
      margin: 0;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0 15px;
        font-family: "Asap", sans-serif;

        a {
          text-decoration: none;
          color: inherit;
          font-family: inherit;
        }

        a:hover {
          color: rgb(206, 206, 206);
        }
      }
    }
  }
}

#btn-logout {
  background-color: $ungu;
  color: white;
}

#btn-logout:hover {
  background-color: #260f58;
}

#floating-button {
  bottom: 5%;
  right: 5%;
  background-color: $ungu;
  border: 2px solid $ungu-dark;
}

// from main content
@mixin link {
  color: $link;
}

h3 {
  @include link();
}

@mixin basic-box {
  background: linear-gradient(180.6deg, rgba(255, 255, 255, 0.14) 57.37%, rgba(255, 255, 255, 0) 128.61%);
  border-radius: 14px;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  font-family: "Open Sans", sans-serif;
  border: 2px solid $ungu-dark;
}

@media screen and (max-width: 576px) {
    #counting {
        flex-wrap: wrap;
    }   
}

.card-count {
  @include basic-box();
  margin: 10px;

  h5 {
    margin: 0;
    float: right;
  }
}

.card-dashboard {
  @include basic-box();
  margin-bottom: 20px;

  h4 {
    @include link();
  }

  ul {
    list-style-type: none;
    margin-bottom: 0;

    li {
      padding: 5px;

      a {
        @include link();
      }

      button {
        background: linear-gradient(113.74deg, #1b85c4 -21.46%, #674cb4 227.79%);
        border-radius: 28px;
        padding: 10px 50px;
      }
    }
  }
}

.important {
  @include link();
}

#container-belum-lulus {
  width: 50%;
}

@media screen and (max-width: 768px) {
  #container-belum-lulus {
    width: 75%;
  }
}

@media screen and (max-width: 576px) {
  #container-belum-lulus {
    width: 85%;
  }
}

#container-img-belum-lulus {
  background: linear-gradient(93.95deg, rgba(255, 255, 255, 0.08) 0.72%, rgba(255, 255, 255, 0) 134.61%);
  border-radius: 15px 15px 0 0;
}

#container-text-belum-lulus {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 0 0 15px 15px;
}
