@import url("https://fonts.googleapis.com/css2?family=Asap&family=Merriweather+Sans&family=Open+Sans&display=swap");
body {
  background: url("../../../images/dashboard/background-2.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

#float_1 {
  right: 0;
  top: 30%;
  z-index: -1;
}

#float_2 {
  right: 10%;
  top: 40%;
  z-index: -1;
}

.sidebar {
  background: rgba(255, 255, 255, 0.38);
  -webkit-box-shadow: 1px 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 0 10px rgba(0, 0, 0, 0.3);
}

.sidebar button {
  font-size: 25px;
}

.sidebar button:focus {
  outline: none !important;
}

.sidebar h1 {
  font-family: "Asap", sans-serif;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar ul li {
  cursor: pointer;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  font-family: "Asap", sans-serif;
  font-weight: 600;
  display: block;
  padding: 20px;
}

.sidebar ul li a img {
  width: 20px;
  height: 18px;
}

.sidebar ul li.active,
.sidebar ul li:hover {
  background-color: #dfdfdf;
}

.sidebar ul li.active a,
.sidebar ul li:hover a {
  color: #000;
}

@media screen and (max-width: 992px) {
  .sidebar {
    display: none;
  }
  .sidebar.responsive {
    display: block;
    position: fixed;
    z-index: 2;
    background-color: #311175;
  }
}

.content {
  overflow: auto;
}

.content nav {
  background: rgba(255, 255, 255, 0.14);
}

.content nav button {
  font-size: 25px;
}

.content nav button:focus {
  outline: none !important;
}

.content nav h2 {
  font-family: "Asap", sans-serif;
  margin: 0;
}

.content nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.content nav ul li {
  margin: 0 15px;
  font-family: "Asap", sans-serif;
}

.content nav ul li a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

.content nav ul li a:hover {
  color: #cecece;
}

#btn-logout {
  background-color: #311175;
  color: white;
}

#btn-logout:hover {
  background-color: #260f58;
}

#floating-button {
  bottom: 5%;
  right: 5%;
  background-color: #311175;
  border: 2px solid #a861ff;
}

h3 {
  color: #60f1d7;
}

.card-count {
  background: linear-gradient(180.6deg, rgba(255, 255, 255, 0.14) 57.37%, rgba(255, 255, 255, 0) 128.61%);
  border-radius: 14px;
  padding: 10px;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  font-family: "Open Sans", sans-serif;
  border: 2px solid #a861ff;
  margin: 10px;
}

.card-count h5 {
  margin: 0;
  float: right;
}

.card-dashboard {
  background: linear-gradient(180.6deg, rgba(255, 255, 255, 0.14) 57.37%, rgba(255, 255, 255, 0) 128.61%);
  border-radius: 14px;
  padding: 10px;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  font-family: "Open Sans", sans-serif;
  border: 2px solid #a861ff;
  margin-bottom: 20px;
}

.card-dashboard h4 {
  color: #60f1d7;
}

.card-dashboard ul {
  list-style-type: none;
  margin-bottom: 0;
}

.card-dashboard ul li {
  padding: 5px;
}

.card-dashboard ul li a {
  color: #60f1d7;
}

.card-dashboard ul li button {
  background: linear-gradient(113.74deg, #1b85c4 -21.46%, #674cb4 227.79%);
  border-radius: 28px;
  padding: 10px 50px;
}

.important {
  color: #60f1d7;
}

#container-belum-lulus {
  width: 50%;
}

@media screen and (max-width: 768px) {
  #container-belum-lulus {
    width: 75%;
  }
}

@media screen and (max-width: 576px) {
  #container-belum-lulus {
    width: 85%;
  }
}

#container-img-belum-lulus {
  background: linear-gradient(93.95deg, rgba(255, 255, 255, 0.08) 0.72%, rgba(255, 255, 255, 0) 134.61%);
  border-radius: 15px 15px 0 0;
}

#container-text-belum-lulus {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 0 0 15px 15px;
}
/*# sourceMappingURL=template.css.map */