@import "../../template/default.scss";

html,
body {
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
  width: 100%;
}

body {
  background: url("../../../../images/registration-bg.png");
}

.bulat-pink {
  width: 100px;
  height: 100px;
  background: radial-gradient(110% 110% at 13.18% 13.86%, #dccfd3 0%, #9f11d0 100%);
  position: fixed;
  left: 189px;
  top: 670px;
  z-index: -9999999;
  filter: blur(6px);
}

.bulat-merah {
  width: 36px;
  height: 36px;
  background: radial-gradient(110% 110% at 13.18% 13.86%, #fa5d8a 0%, #d01148 100%);
  position: fixed;
  left: 392px;
  top: 479px;
  z-index: -9999999;
  filter: blur(6px);
}

.bulat-merah-2 {
  width: 36px;
  height: 36px;
  background: radial-gradient(110% 110% at 13.18% 13.86%, #fa5d8a 0%, #d01148 100%);
  position: fixed;
  left: 1219px;
  top: 522px;
  z-index: -9999999;
  filter: blur(6px);
}

.bulat-biru {
  width: 66px;
  height: 66px;
  background: radial-gradient(110% 110% at 13.18% 13.86%, #dccfd3 0%, #115ed0 100%);
  position: fixed;
  left: 1405px;
  top: 333px;
  z-index: -9999999;
  filter: blur(6px);
}
